<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.bns.admin.mapper.bns.EquipGrowMapper">

	<resultMap id="baseResultMap" type="com.ming.bns.admin.entity.bns.EquipGrow">
	    <result column="id" property="id"/>
	    <result column="equip_id" property="equipId"/>
	    <result column="equip_id2" property="equipId2"/>
	    <result column="type" property="type"/>
	    <result column="start_sort" property="startSort"/>
	    <result column="end_sort" property="endSort"/>
	    <result column="grow_type" property="growType"/>
	    <result column="discount" property="discount"/>
	    <result column="gold" property="gold"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    equip_id,
	    equip_id2,
	    type,
	    start_sort,
	    end_sort,
	    grow_type,
	    discount,
	    gold
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="equipId != null"> and equip_id = #{equipId}</if>
		    <if test="equipId2 != null"> and equip_id2 = #{equipId2}</if>
		    <if test="type != null"> and type = #{type}</if>
		    <if test="startSort != null"> and start_sort = #{startSort}</if>
		    <if test="endSort != null"> and end_sort = #{endSort}</if>
		    <if test="growType != null"> and grow_type = #{growType}</if>
		    <if test="discount != null"> and discount = #{discount}</if>
		    <if test="gold != null"> and gold = #{gold}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        ORDER BY equip_id asc,start_sort asc,end_sort asc
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ming.bns.admin.vo.bns.EquipGrowVo">
        SELECT count(1)
        from bns_equip_grow
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipGrowVo">
        SELECT <include refid="baseColumn"></include>
        from bns_equip_grow
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipGrowVo">
		SELECT <include refid="baseColumn"></include>
		from bns_equip_grow
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipGrowVo">
		SELECT <include refid="baseColumn"></include>
		from bns_equip_grow
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ming.bns.admin.entity.bns.EquipGrow">
		insert into bns_equip_grow
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="equipId != null">equip_id,</if>
			<if test="equipId2 != null">equip_id2,</if>
			<if test="type != null">type,</if>
			<if test="startSort != null">start_sort,</if>
			<if test="endSort != null">end_sort,</if>
			<if test="growType != null">grow_type,</if>
			<if test="discount != null">discount,</if>
			<if test="gold != null">gold,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="equipId != null">#{equipId},</if>
		    <if test="equipId2 != null">#{equipId2},</if>
		    <if test="type != null">#{type},</if>
		    <if test="startSort != null">#{startSort},</if>
		    <if test="endSort != null">#{endSort},</if>
		    <if test="growType != null">#{growType},</if>
		    <if test="discount != null">#{discount},</if>
		    <if test="gold != null">#{gold},</if>
		</trim>
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into bns_equip_grow(
			equip_id,equip_id2,type,start_sort,end_sort,grow_type,discount,gold
		) values
		<foreach collection="list" item="item" index="index" separator=",">(
			#{item.equipId},#{item.equipId2},#{item.type},#{item.startSort},#{item.endSort},
			#{item.growType},#{item.discount},#{item.gold})
		</foreach>
	</insert>

	<update id="update" parameterType="com.ming.bns.admin.entity.bns.EquipGrow">
		update bns_equip_grow
		<set>
			<if test="equipId != null">equip_id = #{equipId},</if>
			<if test="equipId2 != null">equip_id2 = #{equipId2},</if>
			<if test="type != null">type = #{type},</if>
			<if test="startSort != null">start_sort = #{startSort},</if>
			<if test="endSort != null">end_sort = #{endSort},</if>
			<if test="growType != null">grow_type = #{growType},</if>
			<if test="discount != null">discount = #{discount},</if>
			<if test="gold != null">gold = #{gold},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from bns_equip_grow
		where id = #{id}
	</delete>

	<delete id="deleteByType">
		delete from bns_equip_grow
		where type = #{type} and equip_id=#{equipId}
	</delete>
</mapper>
