<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.bns.admin.mapper.bns.EquipMapper">

	<resultMap id="baseResultMap" type="com.ming.bns.admin.entity.bns.Equip">
	    <result column="id" property="id"/>
	    <result column="name" property="name"/>
	    <result column="type" property="type"/>
		<collection property="items" ofType="com.ming.bns.admin.entity.bns.EquipItem">
			<result column="item_id" property="id"/>
			<result column="equip_id" property="equipId"/>
			<result column="item_name" property="name"/>
			<result column="parent_id" property="parentId"/>
		</collection>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    name,
	    type
	</sql>

	<sql id="equipColumn">
		t.id,
	    t.name,
	    t.type
	</sql>

	<sql id="itemColumn">
	    i.id as item_id,
	    i.equip_id,
	    i.name as item_name,
	    i.parent_id
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="name != '' and name != null "> and name = #{name}</if>
		    <if test="type != null"> and type = #{type}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

	<sql id="equipCondition">
		<where>
			<if test="id != null"> and t.id = #{id}</if>
			<if test="name != '' and name != null "> and t.name = #{name}</if>
			<if test="type != null"> and t.type = #{type}</if>
		</where>
	</sql>

    <select id="selectCount" resultType="int" parameterType="com.ming.bns.admin.vo.bns.EquipVo">
        SELECT count(1)
        from bns_equip
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipVo">
        SELECT <include refid="baseColumn"></include>
        from bns_equip
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>
	<!--<select id="selectPage" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipVo">
		SELECT <include refid="equipColumn"></include>,<include refid="itemColumn"></include>
		from bns_equip t
		left join bns_equip_item i on t.id = i.equip_id
		<include refid="equipCondition"></include>
		<include refid="basePage"></include>
	</select>-->

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipVo">
		SELECT <include refid="baseColumn"></include>
		from bns_equip
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.EquipVo">
		SELECT <include refid="baseColumn"></include>
		from bns_equip
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ming.bns.admin.entity.bns.Equip">
		insert into bns_equip
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">name,</if>
			<if test="type != null">type,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="name != null">#{name},</if>
		    <if test="type != null">#{type},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ming.bns.admin.entity.bns.Equip">
		update bns_equip
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="type != null">type = #{type},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from bns_equip
		where id = #{id}
	</delete>

</mapper>
