<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.bns.admin.mapper.bns.TaskTableMapper">

	<resultMap id="baseResultMap" type="com.ming.bns.admin.entity.bns.TaskTable">
	    <result column="id" property="id"/>
	    <result column="week_name" property="weekName"/>
	    <result column="type" property="type"/>
	    <result column="task_challenge_id" property="taskChallengeId"/>
		<association property="taskChallenge" javaType="com.ming.bns.admin.entity.bns.TaskChallenge">
			<result column="cid" property="id"/>
			<result column="name" property="name"/>
			<result column="chivalrous1" property="chivalrous1"/>
			<result column="chivalrous2" property="chivalrous2"/>
			<result column="chivalrous3" property="chivalrous3"/>
		</association>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    week_name,
	    type,
	    task_challenge_id
	</sql>

	<sql id="taskTableColumn">
	    t.id,
	    t.week_name,
	    t.type,
	    t.task_challenge_id
	</sql>

	<sql id="taskChallengeColumn">
	    c.id as cid,
	    c.name,
	    c.chivalrous1,
	    c.chivalrous2,
	    c.chivalrous3
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="weekName != null"> and week_name = #{weekName}</if>
		    <if test="type != null"> and type = #{type}</if>
		    <if test="taskChallengeId != null"> and task_challenge_id = #{taskChallengeId}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ming.bns.admin.vo.bns.TaskTableVo">
        SELECT count(1)
        from bns_task_table
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.TaskTableVo">
        SELECT <include refid="baseColumn"></include>
        from bns_task_table
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.TaskTableVo">
		SELECT <include refid="taskTableColumn"></include>,<include refid="taskChallengeColumn"></include>
		from bns_task_table t
		left join bns_task_challenge c on t.task_challenge_id = c.id
		<where>
			<if test="id != null"> and t.id = #{id}</if>
			<if test="weekName != null"> and t.week_name = #{weekName}</if>
			<if test="type != null"> and t.type = #{type}</if>
			<if test="taskChallengeId != null"> and t.task_challenge_id = #{taskChallengeId}</if>
		</where>
		ORDER BY t.id
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.bns.TaskTableVo">
		SELECT <include refid="baseColumn"></include>
		from bns_task_table
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ming.bns.admin.entity.bns.TaskTable">
		insert into bns_task_table
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="weekName != null">week_name,</if>
			<if test="type != null">type,</if>
			<if test="taskChallengeId != null">task_challenge_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="weekName != null">#{weekName},</if>
		    <if test="type != null">#{type},</if>
		    <if test="taskChallengeId != null">#{taskChallengeId},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ming.bns.admin.entity.bns.TaskTable">
		update bns_task_table
		<set>
			<if test="weekName != null">week_name = #{weekName},</if>
			<if test="type != null">type = #{type},</if>
			<if test="taskChallengeId != null">task_challenge_id = #{taskChallengeId},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from bns_task_table
		where id = #{id}
	</delete>

	<delete id="deleteList" parameterType="com.ming.bns.admin.vo.bns.TaskTableVo">
		delete from bns_task_table
		<where>
			<if test="weekName != null and weekName!=''">and week_name = #{weekName}</if>
			<if test="type != null and type!=''">and type = #{type}</if>
		</where>
	</delete>
</mapper>
