<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.bns.admin.mapper.StatisticsMapper">

	<resultMap id="baseResultMap" type="com.ming.bns.admin.entity.Statistics">
	    <result column="id" property="id"/>
	    <result column="type" property="type"/>
	    <result column="desc" property="desc"/>
	    <result column="total_count" property="totalCount"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    type,
	    desc,
	    total_count
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="type != null"> and type = #{type}</if>
		    <if test="desc != null"> and desc = #{desc}</if>
		    <if test="totalCount != null"> and total_count = #{totalCount}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ming.bns.admin.vo.StatisticsVo">
        SELECT count(1)
        from bns_statistics
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.StatisticsVo">
        SELECT <include refid="baseColumn"></include>
        from bns_statistics
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.StatisticsVo">
		SELECT <include refid="baseColumn"></include>
		from bns_statistics
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ming.bns.admin.vo.StatisticsVo">
		SELECT <include refid="baseColumn"></include>
		from bns_statistics
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ming.bns.admin.entity.Statistics">
		insert into bns_statistics
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="type != null">type,</if>
			<if test="desc != null">desc,</if>
			<if test="totalCount != null">total_count,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="type != null">#{type},</if>
		    <if test="desc != null">#{desc},</if>
		    <if test="totalCount != null">#{totalCount},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ming.bns.admin.entity.Statistics">
		update bns_statistics
		<set>
			<if test="type != null">type = #{type},</if>
			<if test="desc != null">desc = #{desc},</if>
			<if test="totalCount != null">total_count = #{totalCount},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from bns_statistics
		where id = #{id}
	</delete>

</mapper>
